/* Set the height of our application to take the fullscreen */
#root, html, body{
    height: 100vh;
}

body{
    margin: 0;
    background-color: whitesmoke;
}

/* Set all elements to have a box sizing or border box */
* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}